@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
details[open] svg {
    transform: rotate(180deg);
}